project:
  type: website

website:
  title: "Kickstarter Analysis"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: R_Analysis.qmd
        text: R Analysis - EDA & Modeling
      - href: Python_model.qmd
        text: lightGBM Model in Python
    right:
      - about.qmd
            

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

